certifi==2020.12.5
chardet==4.0.0
dnspython==2.1.0
greenlet==1.0.0
idna==2.10
mongoengine==0.23.0
playwright==1.9.2
pyee==8.1.0
pymongo==3.11.3
requests==2.25.1
selenium==3.141.0
selenium-stealth==1.0.6
TikTokApi==3.9.3
typing-extensions==3.7.4.3
urllib3==1.26.4
